/* line 5, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 2, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 24, ../sass/_reset.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 29, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 34, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 40, ../sass/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 47, ../sass/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 103, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 51, ../sass/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 57, ../sass/_reset.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 62, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* @import "compass/reset"; */
/* @import "compass/css3"; */
/* line 4, ../sass/_main.scss */
body {
  background-color: #F5F9FA;
  font-family: 'Open Sans', sans-serif;
  color: #717578;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* line 12, ../sass/_main.scss */
body header {
  width: 100%;
  min-width: 80%;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 98;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}
/* line 31, ../sass/_main.scss */
body header.small {
  height: 55px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
/* line 33, ../sass/_main.scss */
body header.small img {
  height: 30px;
  padding: 5px 0;
}
/* line 37, ../sass/_main.scss */
body header img {
  height: 50px;
  padding: 20px 0;
  transition: 0.5s;
  margin: 0 10px;
}
/* line 44, ../sass/_main.scss */
body header button {
  background-color: #1070B7;
  padding: 6px 12px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  border-radius: 8px;
  border: none;
  margin: 10px 30px 10px 0;
  transition: ease .5s;
}
/* line 56, ../sass/_main.scss */
body header button:hover {
  background-color: #74C5EB;
}
/* line 62, ../sass/_main.scss */
body main {
  width: 85%;
  margin: 80px auto 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
/* line 69, ../sass/_main.scss */
body main > h1 {
  color: #a5a8aa;
  font-size: 24px;
  font-weight: 300;
  display: inline-block;
  margin: 2em auto;
}
/* line 79, ../sass/_main.scss */
body main details summary {
  font-size: 70%;
  text-decoration: underline;
  margin: 10px 20px 0 0;
  cursor: pointer;
  text-align: right;
}
/* line 88, ../sass/_main.scss */
body main form {
  margin: 10px auto 0;
  width: 100%;
  outline: none;
}
/* line 93, ../sass/_main.scss */
body main form > div:first-child {
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
/* line 103, ../sass/_main.scss */
body main form:focus-within > div:first-child {
  box-shadow: 0 0 10px #74C5EB;
}
/* line 107, ../sass/_main.scss */
body main form input {
  background-color: transparent;
  border: none;
  margin-left: 30px;
  width: 95%;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #717578;
}
/* line 117, ../sass/_main.scss */
body main form input:focus {
  outline: none;
}
/* line 122, ../sass/_main.scss */
body main form button {
  background-color: transparent;
  border: none;
  margin-right: 10px;
  font-size: 14px;
  color: #717578;
  transition: ease .5s;
}
/* line 132, ../sass/_main.scss */
body main form button:hover {
  color: #74C5EB;
}
/* line 138, ../sass/_main.scss */
body main div#examples {
  font-size: 0.7em;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 10px;
}
/* line 144, ../sass/_main.scss */
body main div#examples section {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5em;
  width: 16%;
}
/* line 150, ../sass/_main.scss */
body main div#examples section::before {
  content: attr(data-heading);
  display: inline-block;
  margin: 0.5em;
  font-size: 1.1em;
}
/* line 158, ../sass/_main.scss */
body main div#examples form {
  margin: 0;
}
/* line 162, ../sass/_main.scss */
body main div#examples a,
body main div#examples form button,
body main div#examples form input[type=submit] {
  display: inline-block;
  margin: 0.2em 0;
  text-decoration: none;
  border-radius: 1ex;
  padding: 0.5em 1em;
  background-color: #ABABD9;
  color: black;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-size: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 183, ../sass/_main.scss */
body main div#examples a:active,
body main div#examples form button:active,
body main div#examples form input[type=submit]:active {
  position: relative;
  top: 1px;
}
/* line 184, ../sass/_main.scss */
body main div#examples a:hover,
body main div#examples form button:hover,
body main div#examples form input[type=submit]:hover {
  background-color: #8686CA;
  white-space: break-spaces;
}
/* line 188, ../sass/_main.scss */
body main div#examples a:focus,
body main div#examples form button:focus,
body main div#examples form input[type=submit]:focus {
  outline: none;
}
/* line 206, ../sass/_main.scss */
body main div#cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 3em auto 0;
}
/* line 212, ../sass/_main.scss */
body main div#cards-container .card {
  width: 475px;
  position: relative;
  transition: ease all 0.5s;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  margin: 25px;
}
@media screen and (max-width: 550px) {
  /* line 212, ../sass/_main.scss */
  body main div#cards-container .card {
    width: 350px;
    margin: 25px auto;
  }
}
/* line 231, ../sass/_main.scss */
body main div#cards-container .card div {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
/* line 237, ../sass/_main.scss */
body main div#cards-container .card section.left-part {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 140px;
}
/* line 244, ../sass/_main.scss */
body main div#cards-container .card section.left-part img {
  height: 40px;
}
/* line 247, ../sass/_main.scss */
body main div#cards-container .card section.left-part img.white-img {
  -webkit-filter: drop-shadow(1px 1px 4px #222);
  filter: drop-shadow(1px 1px 5px rgba(34, 34, 34, 0.5));
}
/* line 252, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul {
  font-size: 12px;
  margin-top: 10px;
}
/* line 255, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li {
  list-style: none;
  padding: 8px;
  display: flex;
  align-items: baseline;
}
/* line 261, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li i {
  margin-right: 3px;
}
/* line 265, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li a {
  text-decoration: none;
  color: #717578;
  transition: ease .5s;
}
/* line 270, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li a:hover {
  color: #74C5EB;
}
/* line 274, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li progress {
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 8px;
}
/* line 280, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li progress[value]::-webkit-progress-value {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #7ed321;
}
/* line 285, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li progress[value]::-webkit-progress-bar {
  border-radius: 10px;
  background: #f0586a;
}
/* line 293, ../sass/_main.scss */
body main div#cards-container .card section.left-part + section.right-part {
  border-left: 1px solid #74C5EB;
}
/* line 297, ../sass/_main.scss */
body main div#cards-container .card section.right-part {
  margin: 20px 0;
  padding: 0 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
/* line 305, ../sass/_main.scss */
body main div#cards-container .card section.right-part h1 {
  font-size: 110%;
  line-height: initial;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
/* line 311, ../sass/_main.scss */
body main div#cards-container .card section.right-part h2, body main div#cards-container .card section.right-part p {
  font-size: 80%;
  line-height: initial;
}
/* line 318, ../sass/_main.scss */
body main div#cards-container .card section.entities h2 {
  font-style: italic;
  text-align: center;
  background: #F5F9FA;
  padding: 5px;
  margin-bottom: 10px;
  border-top: solid 1px #DAF0F9;
  border-bottom: solid 1px #DAF0F9;
}
/* line 328, ../sass/_main.scss */
body main div#cards-container .card section.entities ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 25px 20px;
}
/* line 333, ../sass/_main.scss */
body main div#cards-container .card section.entities ul li {
  width: 33%;
  flex-basis: 33%;
  display: inline-flex;
  box-sizing: border-box;
  font-size: 75%;
  margin: 7px 0;
}
/* line 341, ../sass/_main.scss */
body main div#cards-container .card section.entities ul li i {
  margin-right: 5px;
}
/* line 345, ../sass/_main.scss */
body main div#cards-container .card section.entities ul li a {
  margin-left: 5px;
}
/* line 349, ../sass/_main.scss */
body main div#cards-container .card section.entities ul li.true {
  color: #7ed321;
}
/* line 353, ../sass/_main.scss */
body main div#cards-container .card section.entities ul li.false {
  color: #f0586a;
}
/* line 362, ../sass/_main.scss */
body main div#cards-container .card details summary {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}
/* line 369, ../sass/_main.scss */
body main div#cards-container .card details[open] summary:after {
  background: black;
  position: fixed;
  height: 100%;
  width: 100%;
  content: '';
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 99;
  cursor: default;
}
/* line 383, ../sass/_main.scss */
body main div#cards-container .card details div {
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  z-index: 100;
}
/* line 395, ../sass/_main.scss */
body main div#cards-container .card details div h1 {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background: #F5F9FA;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 25px;
  line-height: initial;
}
/* line 405, ../sass/_main.scss */
body main div#cards-container .card details div h1 span {
  font-style: italic;
  font-weight: normal;
}
/* line 420, ../sass/_main.scss */
body a {
  color: #74C5EB;
  text-decoration: underline;
  transition: ease .5s;
}
/* line 424, ../sass/_main.scss */
body a:hover {
  color: #1070B7;
}
/* line 427, ../sass/_main.scss */
body footer {
  width: 100%;
  background-color: #275F90;
  min-height: 55px;
  margin-top: auto;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
/* line 441, ../sass/_main.scss */
body footer p {
  line-height: 15px;
  font-weight: 300;
  font-size: 11px;
  transition: ease all 0.5s;
}
@media screen and (max-width: 580px) {
  /* line 441, ../sass/_main.scss */
  body footer p {
    font-size: 9px;
    line-height: 10px;
  }
}
/* line 454, ../sass/_main.scss */
body footer a {
  color: white;
}
/* line 456, ../sass/_main.scss */
body footer a:hover {
  color: white;
  text-decoration: none;
}
/* line 462, ../sass/_main.scss */
body footer section#EGA {
  margin-left: 30px;
  font-size: 12px;
}
/* line 465, ../sass/_main.scss */
body footer section#EGA a {
  color: white;
}
/* line 467, ../sass/_main.scss */
body footer section#EGA a:hover {
  color: #74C5EB;
}
/* line 470, ../sass/_main.scss */
body footer section#EU {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: right;
}
/* line 476, ../sass/_main.scss */
body footer section#EU p {
  max-width: 400px;
  text-align: right;
  margin-right: 10px;
}
/* line 482, ../sass/_main.scss */
body footer section#EU img {
  height: 30px;
  margin-right: 30px;
}

/* line 3, ../sass/_admin.scss */
form div.card button {
  position: absolute;
  right: 0;
  margin-right: 5px;
  top: 10px;
}
/* line 8, ../sass/_admin.scss */
form div.card button i {
  color: #f0586a;
}
/* line 13, ../sass/_admin.scss */
form div.card summary a {
  margin-left: 3px;
  background: #717578;
  border-radius: 10px;
  text-align: center;
  padding: 3px;
}
/* line 20, ../sass/_admin.scss */
form div.card summary a:hover {
  background: #74C5EB;
}
/* line 24, ../sass/_admin.scss */
form div.card summary a i {
  color: white;
  margin: 1px 0 0 0 !important;
}
