/* line 5, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 2, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 24, ../sass/_reset.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 29, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 34, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 40, ../sass/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 47, ../sass/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 103, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 51, ../sass/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 57, ../sass/_reset.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 62, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* @import "compass/reset"; */
/* @import "compass/css3"; */
/* line 4, ../sass/_main.scss */
body {
  background-color: #F5F9FA;
  font-family: 'Open Sans', sans-serif;
  color: #717578;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* line 12, ../sass/_main.scss */
body header {
  width: 100%;
  min-width: 80%;
  height: 80px;
  background-color: white;
  top: 0;
  z-index: 98;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}
/* line 30, ../sass/_main.scss */
body header.small {
  height: 55px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
/* line 32, ../sass/_main.scss */
body header.small img {
  height: 30px;
  padding: 5px 0;
}
/* line 36, ../sass/_main.scss */
body header img {
  height: 50px;
  padding: 20px 0;
  transition: 0.5s;
  margin: 0 10px;
}
/* line 43, ../sass/_main.scss */
body header button {
  background-color: #1070B7;
  padding: 6px 12px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  border-radius: 8px;
  border: none;
  margin: 10px 30px 10px 0;
  transition: ease .5s;
}
/* line 55, ../sass/_main.scss */
body header button:hover {
  background-color: #74C5EB;
}
/* line 61, ../sass/_main.scss */
body main {
  margin: 0 auto 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
/* line 67, ../sass/_main.scss */
body main nav {
  display: flex;
  background: #F5F9FA;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1576px) {
  /* line 67, ../sass/_main.scss */
  body main nav {
    display: none;
  }
}
/* line 78, ../sass/_main.scss */
body main nav strong {
  font-weight: bold;
  margin-right: 5px;
}
/* line 83, ../sass/_main.scss */
body main nav a {
  display: flex;
  order: var(--order);
  border-radius: 5px;
  background: white;
  padding: 7px;
  text-decoration: none;
  font-size: 12px;
  margin: 0 5px;
  align-items: center;
  font-weight: bold;
  color: #717578;
}
/* line 95, ../sass/_main.scss */
body main nav a img {
  height: 30px;
}
/* line 98, ../sass/_main.scss */
body main nav a:hover {
  opacity: .5;
  color: #717578;
}
/* line 105, ../sass/_main.scss */
body main [data-tooltip] {
  cursor: help;
  position: relative;
}
/* line 109, ../sass/_main.scss */
body main [data-tooltip]:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  background: #333333;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  white-space: pre;
  left: 15px;
  top: -25px;
  z-index: 10000;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
/* line 128, ../sass/_main.scss */
body main > h1 {
  color: #a5a8aa;
  font-size: 24px;
  font-weight: 300;
  display: inline-block;
  margin: 2em auto;
}
/* line 138, ../sass/_main.scss */
body main > details summary {
  font-size: 70%;
  text-decoration: underline;
  margin: 10px 20px 0 0;
  cursor: pointer;
  text-align: right;
}
/* line 147, ../sass/_main.scss */
body main form {
  margin: 10px auto 0;
  width: 100%;
  outline: none;
}
/* line 152, ../sass/_main.scss */
body main form > div:first-child {
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
/* line 162, ../sass/_main.scss */
body main form:focus-within > div:first-child {
  box-shadow: 0 0 10px #74C5EB;
}
/* line 166, ../sass/_main.scss */
body main form input {
  background-color: transparent;
  border: none;
  margin-left: 30px;
  width: 95%;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #717578;
}
/* line 176, ../sass/_main.scss */
body main form input:focus {
  outline: none;
}
/* line 181, ../sass/_main.scss */
body main form button {
  background-color: transparent;
  border: none;
  margin-right: 10px;
  font-size: 14px;
  color: #717578;
  transition: ease .5s;
}
/* line 191, ../sass/_main.scss */
body main form button:hover {
  color: #74C5EB;
}
/* line 197, ../sass/_main.scss */
body main div#examples {
  font-size: 0.7em;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 10px;
}
/* line 203, ../sass/_main.scss */
body main div#examples section {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5em;
  width: 16%;
}
/* line 209, ../sass/_main.scss */
body main div#examples section::before {
  content: attr(data-heading);
  display: inline-block;
  margin: 0.5em;
  font-size: 1.1em;
}
/* line 217, ../sass/_main.scss */
body main div#examples form {
  margin: 0;
}
/* line 221, ../sass/_main.scss */
body main div#examples a,
body main div#examples form button,
body main div#examples form input[type=submit] {
  display: inline-block;
  margin: 0.2em 0;
  text-decoration: none;
  border-radius: 1ex;
  padding: 0.5em 1em;
  background-color: #ABABD9;
  color: black;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-size: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 242, ../sass/_main.scss */
body main div#examples a:active,
body main div#examples form button:active,
body main div#examples form input[type=submit]:active {
  position: relative;
  top: 1px;
}
/* line 243, ../sass/_main.scss */
body main div#examples a:hover,
body main div#examples form button:hover,
body main div#examples form input[type=submit]:hover {
  background-color: #8686CA;
  white-space: break-spaces;
}
/* line 247, ../sass/_main.scss */
body main div#examples a:focus,
body main div#examples form button:focus,
body main div#examples form input[type=submit]:focus {
  outline: none;
}
/* line 266, ../sass/_main.scss */
body main ul li {
  color: #DAF0F9;
}
/* line 269, ../sass/_main.scss */
body main ul li.true {
  color: #7ed321 !important;
}
/* line 273, ../sass/_main.scss */
body main ul li.false {
  color: #ff7979 !important;
}
/* line 279, ../sass/_main.scss */
body main ul.legend {
  display: flex;
  width: 100%;
  justify-content: center;
  position: sticky;
  bottom: 0;
  padding: 20px 0;
  background: #F5F9FA;
  z-index: 1000;
}
/* line 289, ../sass/_main.scss */
body main ul.legend li {
  color: #717578;
  white-space: nowrap;
  font-size: 70%;
  flex-basis: auto;
  width: auto;
  margin-right: 20px;
}
/* line 297, ../sass/_main.scss */
body main ul.legend li:last-child {
  margin-right: 0;
}
/* line 303, ../sass/_main.scss */
body main div#cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto 0;
}
/* line 310, ../sass/_main.scss */
body main div#cards-container .card {
  width: 475px;
  position: relative;
  height: max-content;
  transition: ease all 0.5s;
  order: var(--order);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 25px;
}
@media screen and (max-width: 550px) {
  /* line 310, ../sass/_main.scss */
  body main div#cards-container .card {
    width: 350px;
    margin: 25px auto;
  }
}
/* line 332, ../sass/_main.scss */
body main div#cards-container .card div {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  position: relative;
}
/* line 338, ../sass/_main.scss */
body main div#cards-container .card div > i {
  position: absolute;
  right: 7px;
  bottom: 7px;
}
/* line 343, ../sass/_main.scss */
body main div#cards-container .card div > i[data-tooltip]:hover:after {
  right: 15px;
  left: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
}
/* line 353, ../sass/_main.scss */
body main div#cards-container .card section.left-part {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 140px;
}
/* line 360, ../sass/_main.scss */
body main div#cards-container .card section.left-part img {
  height: 40px;
}
/* line 363, ../sass/_main.scss */
body main div#cards-container .card section.left-part img.white-img {
  -webkit-filter: drop-shadow(1px 1px 4px #222);
  filter: drop-shadow(1px 1px 5px rgba(34, 34, 34, 0.5));
}
/* line 368, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul {
  font-size: 12px;
  margin-top: 10px;
}
/* line 371, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li {
  list-style: none;
  padding: 8px;
  display: flex;
  align-items: baseline;
}
/* line 377, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li i {
  margin-right: 3px;
}
/* line 381, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li a {
  text-decoration: none;
  color: #717578;
  transition: ease .5s;
}
/* line 386, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li a:hover {
  color: #74C5EB;
}
/* line 390, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li progress {
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 8px;
}
/* line 396, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li progress[value]::-webkit-progress-value {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #7ed321;
}
/* line 401, ../sass/_main.scss */
body main div#cards-container .card section.left-part ul li progress[value]::-webkit-progress-bar {
  border-radius: 10px;
  background: #ff7979;
}
/* line 409, ../sass/_main.scss */
body main div#cards-container .card section.left-part + section.right-part {
  border-left: 1px solid #74C5EB;
}
/* line 413, ../sass/_main.scss */
body main div#cards-container .card section.right-part {
  margin: 20px 0;
  padding: 0 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
/* line 421, ../sass/_main.scss */
body main div#cards-container .card section.right-part h1 {
  font-size: 110%;
  line-height: initial;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
/* line 427, ../sass/_main.scss */
body main div#cards-container .card section.right-part h2, body main div#cards-container .card section.right-part p {
  font-size: 80%;
  line-height: initial;
}
/* line 432, ../sass/_main.scss */
body main div#cards-container .card section.right-part p {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
/* line 440, ../sass/_main.scss */
body main div#cards-container .card ul.entities {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: white;
  background: #1070B7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 451, ../sass/_main.scss */
body main div#cards-container .card ul.entities li {
  width: 100%;
}
/* line 455, ../sass/_main.scss */
body main div#cards-container .card ul.entities li:first-child details {
  padding-top: 5px;
}
/* line 461, ../sass/_main.scss */
body main div#cards-container .card ul.entities li:last-child details {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 5px;
}
/* line 468, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details {
  position: relative;
  width: auto;
  z-index: 10;
  height: auto;
}
/* line 474, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details summary {
  cursor: pointer;
  font-size: 90%;
  padding: 10px 15px;
  display: flex;
  color: white;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
}
/* line 484, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details summary::-webkit-details-marker {
  display: none;
}
/* line 489, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details span {
  width: 60%;
  background: #DAF0F9;
  height: 5px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
/* line 496, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--valid-percentage);
  display: block;
  background: #7ed321;
}
/* line 506, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details span:after {
  content: '';
  position: absolute;
  left: var(--valid-percentage);
  top: 0;
  height: 100%;
  width: var(--error-percentage);
  display: block;
  background: #ff7979;
}
/* line 518, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details[open] {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
  background: #275F90;
}
/* line 523, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 10px 15px;
  position: relative;
  color: white;
}
/* line 530, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details ul li {
  width: 33.3%;
  flex-basis: 33.3%;
  display: inline-flex;
  box-sizing: border-box;
  font-size: 70%;
  margin: 7px 0;
  position: relative;
  padding: 0 7px;
  line-height: 16px;
}
/* line 541, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details ul li:nth-child(3n+1) {
  padding-left: 0;
}
/* line 545, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details ul li:nth-child(3n) {
  padding-right: 0;
}
/* line 549, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details ul li i {
  margin: 2px 5px 0 0;
}
/* line 553, ../sass/_main.scss */
body main div#cards-container .card ul.entities li details ul li a {
  margin-left: 5px;
}
/* line 626, ../sass/_main.scss */
body a {
  color: #74C5EB;
  text-decoration: underline;
  transition: ease .5s;
}
/* line 630, ../sass/_main.scss */
body a:hover {
  color: #1070B7;
}
/* line 633, ../sass/_main.scss */
body footer {
  width: 100%;
  background-color: white;
  min-height: 55px;
  margin-top: auto;
  border-top: solid 1px #DAF0F9;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
/* line 647, ../sass/_main.scss */
body footer p {
  line-height: 15px;
  font-weight: 300;
  font-size: 11px;
  transition: ease all 0.5s;
}
@media screen and (max-width: 580px) {
  /* line 647, ../sass/_main.scss */
  body footer p {
    font-size: 9px;
    line-height: 10px;
  }
}
/* line 660, ../sass/_main.scss */
body footer a {
  color: #275F90;
}
/* line 662, ../sass/_main.scss */
body footer a:hover {
  color: #275F90;
  text-decoration: none;
}
/* line 668, ../sass/_main.scss */
body footer section#EGA {
  margin-left: 30px;
  font-size: 12px;
}
/* line 671, ../sass/_main.scss */
body footer section#EGA a {
  color: white;
}
/* line 673, ../sass/_main.scss */
body footer section#EGA a:hover {
  color: #74C5EB;
}
/* line 676, ../sass/_main.scss */
body footer section#EU {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: right;
}
/* line 682, ../sass/_main.scss */
body footer section#EU p {
  max-width: 400px;
  text-align: right;
  margin-right: 10px;
}
/* line 688, ../sass/_main.scss */
body footer section#EU img {
  height: 30px;
  margin-right: 30px;
}
