/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_main.scss */
body {
  background-color: #F5F9FA;
  font-family: 'Open Sans', sans-serif;
  color: #717578;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* line 12, ../sass/_main.scss */
body nav {
  width: 100%;
  min-width: 80%;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}
/* line 30, ../sass/_main.scss */
body nav.small {
  height: 55px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
/* line 32, ../sass/_main.scss */
body nav.small img {
  height: 30px;
  padding: 5px 0;
}
/* line 36, ../sass/_main.scss */
body nav img {
  height: 50px;
  padding: 20px 0;
  transition: 0.5s;
}
/* line 42, ../sass/_main.scss */
body nav button {
  background-color: #1070B7;
  padding: 6px 12px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  border-radius: 8px;
  border: none;
  margin: 10px 30px 10px 0;
  transition: ease .5s;
}
/* line 54, ../sass/_main.scss */
body nav button:hover {
  background-color: #74C5EB;
}
/* line 60, ../sass/_main.scss */
body main {
  width: 85%;
  margin: 80px auto 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
/* line 67, ../sass/_main.scss */
body main > h1 {
  color: #a5a8aa;
  font-size: 24px;
  font-weight: 300;
  display: inline-block;
  margin: 80px auto 0;
}
/* line 74, ../sass/_main.scss */
body main > h1 span.strong {
  font-weight: 400;
}
/* line 78, ../sass/_main.scss */
body main form {
  margin: 40px auto 0;
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
/* line 91, ../sass/_main.scss */
body main form:focus-within {
  box-shadow: 0 0 10px #74C5EB;
}
/* line 96, ../sass/_main.scss */
body main form input {
  background-color: transparent;
  border: none;
  margin-left: 30px;
  width: 95%;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #717578;
}
/* line 106, ../sass/_main.scss */
body main form input:focus {
  outline: none;
}
/* line 111, ../sass/_main.scss */
body main form button {
  background-color: transparent;
  border: none;
  margin-right: 10px;
  font-size: 14px;
  color: #717578;
  transition: ease .5s;
}
/* line 121, ../sass/_main.scss */
body main form button:hover {
  color: #74C5EB;
}
/* line 127, ../sass/_main.scss */
body main div#cohorts-button, body main div#examples-button {
  margin: 1em 0;
  background-color: #BAE4F6;
  padding: 8px 10px;
  border-radius: 30px;
  width: 90px;
  font-weight: 300;
  font-size: 80%;
  cursor: pointer;
  transition: ease .5s;
}
/* line 130, ../sass/_main.scss */
body main div#cohorts-button:hover, body main div#examples-button:hover {
  background-color: #74C5EB;
}
/* line 138, ../sass/_main.scss */
body main div#cohorts-button span, body main div#examples-button span {
  font-weight: 400;
}
/* line 139, ../sass/_main.scss */
body main div#cohorts-button:active, body main div#examples-button:active {
  position: relative;
  top: 1px;
}
/* line 140, ../sass/_main.scss */
body main div#cohorts-button a, body main div#examples-button a {
  text-decoration: none;
  color: #717578;
}
/* line 141, ../sass/_main.scss */
body main div#cohorts-button p, body main div#examples-button p {
  display: none;
}
/* line 143, ../sass/_main.scss */
body main div#cohorts-button p.active, body main div#examples-button p.active {
  display: inline;
}
/* line 148, ../sass/_main.scss */
body main div#examples {
  display: none;
  font-size: 0.7em;
  flex-flow: row nowrap;
}
/* line 150, ../sass/_main.scss */
body main div#examples.active {
  display: flex;
}
/* line 153, ../sass/_main.scss */
body main div#examples section {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5em 0.1em;
}
/* line 157, ../sass/_main.scss */
body main div#examples section::before {
  content: attr(data-heading);
  display: inline-block;
  margin: 0.5em;
  font-size: 1.1em;
}
/* line 164, ../sass/_main.scss */
body main div#examples a {
  display: inline-block;
  margin: 0.1em 0;
  text-decoration: none;
  border-radius: 1ex;
  padding: 0.5ex 1ex;
  background-color: #BAE4F6;
  color: black;
  outline: none;
}
/* line 173, ../sass/_main.scss */
body main div#examples a:active {
  position: relative;
  top: 1px;
}
/* line 174, ../sass/_main.scss */
body main div#examples a:hover {
  background-color: #74C5EB;
}
/* line 179, ../sass/_main.scss */
body main div#cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 3em;
}
/* line 185, ../sass/_main.scss */
body main div#cards-container div.card {
  width: 475px;
  height: 180px;
  transition: ease all 0.5s;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  margin: 25px;
}
@media screen and (max-width: 550px) {
  /* line 185, ../sass/_main.scss */
  body main div#cards-container div.card {
    width: 350px;
    margin: 25px auto;
  }
}
/* line 208, ../sass/_main.scss */
body main div#cards-container div.card section.left-part {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 140px;
}
/* line 215, ../sass/_main.scss */
body main div#cards-container div.card section.left-part img {
  height: 40px;
}
/* line 218, ../sass/_main.scss */
body main div#cards-container div.card section.left-part img.white-img {
  -webkit-filter: drop-shadow(1px 1px 4px #222);
  filter: drop-shadow(1px 1px 5px rgba(34, 34, 34, 0.5));
}
/* line 223, ../sass/_main.scss */
body main div#cards-container div.card section.left-part ul {
  font-size: 12px;
}
/* line 225, ../sass/_main.scss */
body main div#cards-container div.card section.left-part ul li {
  list-style: none;
  padding: 8px;
}
/* line 228, ../sass/_main.scss */
body main div#cards-container div.card section.left-part ul li a {
  text-decoration: none;
  color: #717578;
  transition: ease .5s;
}
/* line 233, ../sass/_main.scss */
body main div#cards-container div.card section.left-part ul li a:hover {
  color: #74C5EB;
}
/* line 237, ../sass/_main.scss */
body main div#cards-container div.card section.left-part ul li a i {
  margin-right: 3px;
}
/* line 244, ../sass/_main.scss */
body main div#cards-container div.card section.right-part {
  margin: 20px 0;
  padding: 0 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  border-left: 1px solid #74C5EB;
}
/* line 253, ../sass/_main.scss */
body main div#cards-container div.card section.right-part h1 {
  font-size: 110%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
/* line 258, ../sass/_main.scss */
body main div#cards-container div.card section.right-part h2, body main div#cards-container div.card section.right-part p {
  font-size: 80%;
}
/* line 265, ../sass/_main.scss */
body main div.cohort-card {
  width: 100%;
  min-width: 650px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  margin: 2em auto 1em;
  padding: 2em;
}
/* line 276, ../sass/_main.scss */
body main div.cohort-card h1 {
  font-size: 110%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2em;
}
/* line 280, ../sass/_main.scss */
body main div.cohort-card h1 span.light {
  font-weight: 300;
}
/* line 282, ../sass/_main.scss */
body main div.cohort-card h1.cohort-name {
  color: white;
  margin-bottom: 0;
  background-color: #74C5EB;
  padding: 4px 8px;
  border-radius: 30px;
  font-weight: 400;
  display: inline-block;
}
/* line 291, ../sass/_main.scss */
body main div.cohort-card h1.error {
  color: white;
  margin-bottom: 0;
  background-color: #DC4F5F;
  padding: 4px 8px;
  border-radius: 30px;
  font-weight: 400;
  display: inline-block;
}
/* line 301, ../sass/_main.scss */
body main div.cohort-card h2 {
  font-size: 90%;
  font-weight: 300;
  margin: 1em 0 8px;
}
/* line 306, ../sass/_main.scss */
body main div.cohort-card h2.error {
  color: white;
  margin-bottom: 0;
  background-color: #DC4F5F;
  padding: 4px 8px;
  border-radius: 30px;
  font-weight: 400;
  display: inline-block;
  margin-top: 0;
}
/* line 316, ../sass/_main.scss */
body main div.cohort-card ul {
  margin: 0 1em;
}
/* line 318, ../sass/_main.scss */
body main div.cohort-card ul li {
  margin: 6px;
  font-size: 90%;
}
/* line 321, ../sass/_main.scss */
body main div.cohort-card ul li span.strong {
  font-weight: bold;
}
/* line 322, ../sass/_main.scss */
body main div.cohort-card ul li span.strong2 {
  font-weight: 600;
}
/* line 323, ../sass/_main.scss */
body main div.cohort-card ul li span.content {
  color: #717578;
}
/* line 324, ../sass/_main.scss */
body main div.cohort-card ul li span.duo {
  font-weight: 600;
  background-color: #EB9661;
  border-radius: 10px;
  padding: 0 4px;
  color: white;
  font-size: 90%;
}
/* line 334, ../sass/_main.scss */
body main div.cohort-card hr {
  margin: 2em auto;
  border: none;
  border-top: 1px solid #717578;
  width: 60%;
}
/* line 340, ../sass/_main.scss */
body main div.cohort-card form {
  margin: 0;
  width: auto;
  height: auto;
  background-color: none;
  border-radius: 0;
  display: inline;
  box-shadow: none;
}
/* line 348, ../sass/_main.scss */
body main div.cohort-card form button {
  cursor: pointer;
  color: #74C5EB;
}
/* line 351, ../sass/_main.scss */
body main div.cohort-card form button:hover {
  color: #1070B7;
}
/* line 354, ../sass/_main.scss */
body main div.cohort-card svg.bar-plot {
  padding-left: 1.5em;
}
/* line 356, ../sass/_main.scss */
body main div.cohort-card svg.bar-plot .bar {
  fill: #D9D9D9;
  height: 21px;
  transition: fill .3s ease;
}
/* line 361, ../sass/_main.scss */
body main div.cohort-card svg.bar-plot .bar text {
  fill: #717578;
  font-size: 11px;
}
/* line 369, ../sass/_main.scss */
body main div.cohort-card svg.bar-plot .chart:hover .bar,
body main div.cohort-card svg.bar-plot .chart:focus .bar {
  fill: #D9D9D9;
}
/* line 374, ../sass/_main.scss */
body main div.cohort-card svg.bar-plot .bar:hover,
body main div.cohort-card svg.bar-plot .bar:focus {
  fill: #74C5EB !important;
}
/* line 378, ../sass/_main.scss */
body main div.cohort-card svg.bar-plot .bar:hover text,
body main div.cohort-card svg.bar-plot .bar:focus text {
  fill: #1070B7;
  font-size: 11px;
}
/* line 388, ../sass/_main.scss */
body a {
  color: #74C5EB;
  text-decoration: underline;
  transition: ease .5s;
}
/* line 392, ../sass/_main.scss */
body a:hover {
  color: #1070B7;
}
/* line 395, ../sass/_main.scss */
body footer {
  width: 100%;
  background-color: #275F90;
  min-height: 55px;
  margin-top: auto;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
/* line 409, ../sass/_main.scss */
body footer p {
  margin-right: 10px;
  line-height: 15px;
  font-weight: 300;
  font-size: 11px;
  transition: ease all 0.5s;
}
@media screen and (max-width: 580px) {
  /* line 409, ../sass/_main.scss */
  body footer p {
    font-size: 9px;
    line-height: 10px;
  }
}
/* line 423, ../sass/_main.scss */
body footer section#EGA {
  margin-left: 30px;
  font-size: 12px;
}
/* line 426, ../sass/_main.scss */
body footer section#EGA a {
  color: white;
}
/* line 428, ../sass/_main.scss */
body footer section#EGA a:hover {
  color: #74C5EB;
}
/* line 431, ../sass/_main.scss */
body footer section#EU {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: right;
}
/* line 437, ../sass/_main.scss */
body footer section#EU p {
  max-width: 400px;
  text-align: right;
  margin-right: 10px;
}
/* line 443, ../sass/_main.scss */
body footer section#EU img {
  height: 30px;
  margin-right: 30px;
}
