form {
  div.card {
    button {
      position: absolute;
      right: 0;
      margin-right: 5px;
      top: 10px;
      i {
        color: $red;
      }
    }
    summary {
      a {
        margin-left: 3px;
        background: $darkgrey;
        border-radius: 10px;
        text-align: center;
        padding: 3px;

        &:hover {
          background: $blue;
        }

        i {
          color: white;
          margin: 1px 0 0 0 !important;
        }
      }
    }
  }
}
