{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Beacon Network</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no"/>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous" />

        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'homepage/stylesheets/style.css' %}" />
    </head>
    <body>

        <nav>
            <img src="{% static 'homepage/img/CINECA_logo.png' %}" alt="CINECA">
            <!-- <button>log in</button> -->
        </nav>

        <main>
            <h1 id="title">CINECA Services Registry</h1>
            <form action="" id="query-form">
                <input type="text" value="" placeholder="Type here a URL you want to dispatch to the available services..." title="For example: query?referenceName=Y&start=2655179&assemblyId=GRCh37&referenceBases=G&alternateBases=A&includeDatasetResponses=ALL">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>

            <hr>

            <div id="cards-container">
                {% for registry in registries %}
                {% if not registry.error %}
                <!-- CARD -->
                    <div class="card">
                        <section id="left-part">
                            {% if registry.logo_url %}
                            <img src="{{ registry.logo_url }}" alt="{{ registry.name }} Logo">
                            {% else %}
                            <img src="{% static 'homepage/img/beacon_default.png' %}" alt="Default Logo">
                            {% endif %}
                            <ul>
                                <li>
                                    <a href="{{ registry.visit_us }}" target="_blank"><i class="fas fa-globe"></i>Org. website</a> 
                                </li>
                                <li>
                                    <a href="{{ registry.beacon_api }}" target="_blank"><i class="fas fa-share-square"></i>Beacon API</a> 
                                </li>
                                <li>
                                    <a href="{{ registry.contact_us }}" target="_blank"><i class="fas fa-envelope"></i>Contact address</a>
                                </li>
                            </ul>
                        </section>
                        <section id="right-part">
                            <h1>{{ registry.organization_name|safe }}</h1>
                            <h2>{{ registry.name|safe }}</h2>
                            <h2>{{ registry.description|safe }}</h2>
                        </section>
                    </div>
                <!-- END CARD -->
                {% endif %}
                {% endfor %}


                <!-- DEMO CARD 1 -->
                <div class="card">
                    <section id="left-part">
                        <img src="{% static 'homepage/img/ega_logo.png' %}" alt="EGA Logo">
                        <ul>
                            <li>
                                <a href=""><i class="fas fa-globe"></i>Org. website</a> 
                            </li>
                            <li>
                                <a href=""><i class="fas fa-share-square"></i>Beacon API</a> 
                            </li>
                            <li>
                                <a href=""><i class="fas fa-envelope"></i>Contact address</a>
                            </li>
                        </ul>
                    </section>
                    <section id="right-part">
                        <h1>CRG Center for Genomic Regulation</h1>
                        <h2>EGA Beacon</h2>
                        <h2>EGA Beacon</h2>
                    </section>
                </div>
                <!-- END DEMO CARD 1 -->

                <!-- DEMO CARD 2 -->
                <div class="card">
                    <section id="left-part">
                        <img src="{% static 'homepage/img/candig_logo.png' %}" alt="CanDIG Logo">
                        <ul>
                            <li>
                                <a href=""><i class="fas fa-globe"></i>Org. website</a> 
                            </li>
                            <li>
                                <a href=""><i class="fas fa-share-square"></i>Beacon API</a> 
                            </li>
                            <li>
                                <a href=""><i class="fas fa-envelope"></i>Contact address</a>
                            </li>
                        </ul>
                    </section>
                    <section id="right-part">
                        <h1>CanDIG</h1>
                        <h2>CanDIG Beacon</h2>
                        <h2>CanDIG Beacon</h2>
                    </section>
                </div>
                <!-- END DEMO CARD 2 -->

                <!-- DEMO CARD 3 -->
                <div class="card">
                    <section id="left-part">
                        <img src="{% static 'homepage/img/h3africa_logo.png' %}" alt="H3Africa Logo" class="white-img">
                        <ul>
                            <li>
                                <a href=""><i class="fas fa-globe"></i>Org. website</a> 
                            </li>
                            <li>
                                <a href=""><i class="fas fa-share-square"></i>Beacon API</a> 
                            </li>
                            <li>
                                <a href=""><i class="fas fa-envelope"></i>Contact address</a>
                            </li>
                        </ul>
                    </section>
                    <section id="right-part">
                        <h1>Advancing Bioinformatics Research and Capacity Building in Africa</h1>
                        <h2>H3Africa Beacon</h2>
                        <h2>H3Africa Beacon</h2>
                    </section>
                </div>
                <!-- END DEMO CARD 3 -->

            </div>
        </main>

        <footer>
            <section id="EGA">
                <p>Hosted by the <a href="https://ega-archive.org/">EGA</a></p>
            </section>
            <section id="EU">
                <p>This project has received funding from the European Union's Horizon 2020 Research and Innovation Programme under grant agreement No. 825775.</p>
                <img src="{% static 'homepage/img/eu_white.jpg' %}" alt="EU Logo">
            </section>
            <!-- <p>&copy; Copyright 2020</p> -->
        </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>
</body>
</html>
