<!-- CARD -->
<div class="card">
    {% if remove_enabled %}
      <button>
        <i class="fas fa-trash"></i>
      </button>
    {% endif %}
    <div>
      <section class="left-part">
        {% if service.logo_url %}
        <img src="{{ service.logo_url }}" alt="{{ service.name }} Logo" />
        {% else %}
        <img src="{{ static('img/beacon_default.png') }}" alt="Default Logo" />
        {% endif %}
        <ul>
          <li>
            <a href="{{ service.visit_us }}"><i class="fas fa-globe"></i> Visit us</a>
          </li>
          <li>
            <a href="{{ service.beacon_api }}"><i class="fas fa-share-square"></i>Beacon API</a>
          </li>
          <li>
            <a href="{{ service.contact_us }}"><i class="fas fa-envelope"></i>Contact us</a>
          </li>
        </ul>
      </section>
      <section class="right-part">
        <h1>{{ service.organization_name|safe }}</h1>
        <h2>{{ service.name|safe }}</h2>
        <p>{{ service.description|safe }}</p>
      </section>
    </div>
    <ul class="entities">
      {% for entity in service.entities %}
        <li class="{{ entity.valid|lower }}">
          {% if entity.valid == True %}
            <i class="fas fa-check-circle"></i>
          {% elif entity.valid == False %}
            <i class="fas fa-times-circle"></i>
          {% else %}
            <i class="fas fa-question-circle"></i>
          {% endif %}
          {{ entity.name }}
        </li>
      {% endfor %}
    </ul>
</div>
<!-- END CARD -->
