<!-- CARD -->
<div id="{{ service.beaconId }}" class="card" style="--order:{{ service.order }}">
  <div>
    {% if service.last_updated %}
      <i class="fas fa-history" data-tooltip="Last updated {{ service.last_updated }}"></i>
    {% endif %}
    <section class="left-part">
      <img src="{{ service.logo_url }}" title="{{ service.name }} Logo" />
      <ul>
        {% if service.visit_us %}
          <li>
            <a href="{{ service.visit_us }}"><i class="fas fa-globe"></i> Visit us</a>
          </li>
        {% endif %}
        {% if service.beacon_ui %}
          <li>
            <a href="{{ service.beacon_ui }}"><i class="fas fa-share-square"></i>Beacon UI</a>
          </li>
        {% endif %}
        {% if service.beacon_ui %}
          <li>
            <a href="{{ service.beacon_api }}"><i class="fas fa-share-square"></i>Beacon API</a>
          </li>
        {% endif %}
        {% if service.contact_us %}
          <li>
            <a href="{{ service.contact_us }}"><i class="fas fa-envelope"></i>Contact us</a>
          </li>
        {% endif %}
      </ul>
    </section>
    <section class="right-part">
      {% if service.organization_name %}
        <h1>{{ service.organization_name|safe }}</h1>
      {% endif %}
      {% if service.name %}
        <h2>{{ service.name|safe }}</h2>
      {% endif %}
      {% if service.description %}
        <p title="{{ service.description|safe }}">{{ service.description|safe }}</p>
      {% endif %}
    </section>
  </div>
  {% if service.entities %}
    <ul class="entities">
      {% for group_name, entities in service.entities.items() %}
        <li>
          <details style="--valid-percentage:{{ service.entities_count.get(group_name).valid_percentage }}%; --error-percentage:{{ service.entities_count.get(group_name).error_percentage }}%">
            <summary>
              {{ group_name }}
              <span></span>
            </summary>
            <ul>
              {% for entity in entities %}
                <li class="{{ entity.valid|lower }}">
                  {% if entity.valid == True %}
                    <i class="fas fa-check-circle" {% if entity.error %}data-tooltip="{{ entity.error }}"{% endif %}></i>
                  {% elif entity.valid == False %}
                    <i class="fas fa-times-circle" {% if entity.error %}data-tooltip="{{ entity.error }}"{% endif %}></i>
                  {% else %}
                    <i class="fas fa-question-circle" {% if entity.error %}data-tooltip="{{ entity.error }}"{% endif %}></i>
                  {% endif %}
                  {{ entity.name }}
                </li>
              {% endfor %}
            </ul>
          </details>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<!-- END CARD -->
