<!DOCTYPE html>
<html>
    <head>
        <title>Cineca Services Registry</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no"/>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
              integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
              crossorigin="anonymous" />

        <link rel="stylesheet"
	      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" />

        <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
        <link rel="stylesheet" href="{{ static('css/style.css') }}" />
      </head>
    <body>

        <nav>
          <a href="{{ url('index') }}">
	    <img src="{{ static('img/CINECA_logo.png') }}" alt="CINECA" />
	  </a>
        </nav>

    <main>
        <h1>CINECA Services Registry - <span class="strong">Cohorts</span></h1>

        <!-- result per service -->
        {% for service in cohorts %}
        {% with service_index=loop.index %}
        <div class="cohort-card">
            
            {% if service.response and not service.response.errorCode %}
                <h1>
                    {{service.name }} <span class="light">{{service.response.meta.beaconId}} {{service.response.meta.apiVersion}}</span>
                    <a href="{{service.url}}" target="_blank"> <i class="fas fa-share-square"></i></a> 
                </h1>
                <!-- cohort per service -->
                {% if service.response.response.results|length > 0 %}
                {% for cohort in service.response.response.results %}
                <h1 class="cohort-name">{{cohort.cohortName}}</h1>

                <h2>Basic attributes</h2>
                <ul>
                    <li>
                        <span class="strong">type</span>
                        <span class="content">{{cohort.cohortType}}</span>
                    </li>
                    <li>
                        <span class="strong">design</span>
                        <span class="content">{{cohort.cohortDesign}}</span>
                    </li>
                    <li>
                        <span class="strong">inclusion criteria</span>
                        <span class="content">{{cohort.cohortInclusionCriteria}}</span>
                    </li>
                    <li>
                        <span class="strong">size</span>
                        <span class="content">{{cohort.cohortSize}}</span>
                    </li>
                    <li>
                        <span class="strong">data types</span>
                        <span class="content">{{cohort.cohortDataTypes}}</span>
                    </li>
                </ul>

                {% if cohort.collectionEvents %}
                <h2>Collection Events</h2>
                {% with collectionEvent=cohort.collectionEvents[-1] %}
                <ul>
                    {% if collectionEvent.eventTimeline %}
                        <li>
                            <span class="strong">timeline</span>
                            <span class="content">{{collectionEvent.eventTimeline.start}}-{{collectionEvent.eventTimeline.end}}</span>
                        </li>
                    {% endif %}
                    {% if collectionEvent.eventCases and collectionEvent.eventControls %}
                        <li>
                            <span class="strong">cases and controls</span>
                            <span class="content">{{collectionEvent.eventCases}} and {{collectionEvent.eventControls}}</span>
                        </li>
                    {% endif %}
                    {% if collectionEvent.eventLocations %}
                        {% if collectionEvent.eventLocations.availability %}
                        <li>
                            <span class="strong">locations</span>
                            <span class="content">
                                <ul>
                                    {% for item in collectionEvent.eventLocations.distribution %}
                                    <li>
                                        <span class="strong2">{{item.type.label}}</span>
                                        <span class="content">{{item.count}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </span>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if collectionEvent.eventGenders %}
                        {% if collectionEvent.eventGenders.availability %}
                        <li>
                            <span class="strong">genders</span>
                            <span class="content">
                                <ul>
                                    {% for item in collectionEvent.eventGenders.distribution %}
                                    <li>
                                        <span class="strong2">{{item.type.label}}</span>
                                        <span class="content">{{item.count}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </span>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if collectionEvent.eventEthnicities %}
                        {% if collectionEvent.eventEthnicities.availability %}
                        <li>
                            <span class="strong">ethnicities</span>
                            <span class="content">
                                <ul>
                                    {% for item in collectionEvent.eventEthnicities.distribution %}
                                    <li>
                                        <span class="strong2">{{item.type.label}}</span>
                                        <span class="content">{{item.count}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </span>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if collectionEvent.eventAgeRange %}
                        {% if collectionEvent.eventAgeRange.availability %}
                        <li>
                            <span class="strong">age range</span>
                            <span class="content">
                                <ul>
                                    {% for item in collectionEvent.eventAgeRange.distribution %}
                                    <li>
                                        <span class="strong2">{{item.type.label}}</span>
                                        <span class="content">{{item.count}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </span>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if collectionEvent.eventDiseases %}
                        {% if collectionEvent.eventDiseases.availability %}
                        <li>
                            <span class="strong">diseases</span>
                            <span class="content">
                                <ul>
                                    {% for item in collectionEvent.eventDiseases.distribution %}
                                    <li>
                                        <span class="strong2">{{item.type.label}}</span>
                                        <span class="content">{{item.count}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </span>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if collectionEvent.eventPhenotypes %}
                        {% if collectionEvent.eventPhenotypes.availability %}
                        <li>
                            <span class="strong">phenotypes</span>
                            <span class="content">
                                <ul>
                                    {% for item in collectionEvent.eventPhenotypes.distribution %}
                                    <li>
                                        <span class="strong2">{{item.type.label}}</span>
                                        <span class="content">{{item.count}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </span>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if collectionEvent.eventDataTypes %}
                        {% if collectionEvent.eventDataTypes.availability %}
                        <li>
                            <span class="strong">data types</span>
                            <span class="content">
                                <ul>
                                    {% for item in collectionEvent.eventDataTypes.distribution %}
                                    <li>
                                        <span class="strong2">{{item.type.label}}</span>
                                        <span class="content">{{item.count}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </span>
                        </li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% endwith %}
                {% endif %}

                <h2>DUO codes</h2>
                <ul>
                    <li>
                        <span class="duo">DUO:0000014</span>
                        <span class="content">obsolete research use only</span>
                    </li>
                    <li>
                        <span class="duo">DUO:0000026</span>
                        <span class="content">user specific restriction</span>
                    </li>
                </ul>
                {% if datasets[service_index-1].response %}
                    {% for item in datasets[service_index-1].response.response.results %}
                        {% if item.handovers%}
                        <h2>Handovers</h2>
                            <ul>
                                {% for handover in item.handovers %}
                                <li>
                                    <span class="strong">{{handover.note}}</span>
                                    <span class="content"><a href="{{handover.url}}">{{handover.url}}</a></span>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor%}
                {% endif %}
                {% if loop.index != service.response.response.results|length %}
                    <hr>
                {% endif %}
                {% endfor %}
                {% else %}
                     <h2>No cohorts to show</h2>       
                {% endif %}
                <!-- end cohort per service -->
            {% else %}
                <h1>
                    {{service.name}}
                    <a href="{{service.url}}" target="_blank"> <i class="fas fa-share-square"></i></a> 
                </h1>
                <h1 class="error">Error</h2>
                <h2>Response</h2>
                <ul>
                    <li>
                        <span class="strong">message</span>
                        <span class="content">{% if service.error %}{{service.error}}{% elif service.response.errorCode %}{{service.response.errorCode}} {{service.response.errorMessage}}{% endif %}</span>
                    </li>
                </ul>
                
            {% endif %}
        </div>
        {% endwith %}
        {% endfor %}
        <!-- end result per service -->


    </main>

	<footer>
          <section id="EGA">
            <p>Hosted by the <a href="https://ega-archive.org/">EGA</a></p>
          </section>
          <section id="EU">
            <p>This project has received funding from the European Union's Horizon 2020 Research and Innovation Programme under grant agreement No. 825775.</p>
            <img src="{{ static('img/eu_white.jpg') }}" alt="EU Logo" />
          </section>
          <!-- <p>&copy; Copyright 2020</p> -->
        </footer>

    </body>
</html>
