<!DOCTYPE html>
<html>
    <head>
        <title>EGA-CRG Services Registry</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no"/>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
              integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
              crossorigin="anonymous" />

        <link rel="stylesheet"
	      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" />

        <link rel="stylesheet" href="{{ static('css/style.css') }}" />
    </head>
    <body>

      <header>
        {% if service_logos %}
          {% for logo in service_logos %}
            {% if logo.href %}
              <a href="{{ logo.href }}">
            {% endif %}
              <img src="{{ logo.img }}" title="{{ logo.title }}" />
            {% if logo.href %}
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </header>

      <main>
        <h1>{{ service_title }}</h1>
        <!-- <form action="{{ url('index') }}" method="POST" target="_blank">
          <div>
            <input type="text"
	                 value=""
	                 name="url"
	                 placeholder="Input a URL you want to dispatch to the available services. For example: /api/datasets"
                   title="For example: /query?referenceName=Y&start=2655179&assemblyId=GRCh37&referenceBases=G&alternateBases=A&includeDatasetResponses=ALL" />
            <button type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>

        <details>
          <summary>Example Queries</summary>
          {% include 'examples.html' %}
        </details> -->
        {% if services %}
          <nav>
            <strong>Beacons:</strong>
            {% for service in services %}
              {% if not service.error %}
                <a href="#{{service.beaconId}}" style="--order:{{service.order}}" title="{{ service.title }}">
                  <img src="{{ service.logo_url }}" title="{{ service.name }} Logo" />
                </a>
              {% endif %}
              {# Couldn't contact: {{ service }} #}
            {% endfor %}
          </nav>
        {% endif %}

        <div id="cards-container" data-cards="{{ services|length }}">
          {% for service in services %}
            {% if not service.error %}
              {% include "card.html" %}
            {% endif %}
            {# Couldn't contact: {{ service }} #}
          {% endfor %}
        </div>

        <ul class="legend">
          <li class="true"><i class="fas fa-check-circle"></i> Matches the Spec</li>
          <li class="false"><i class="fas fa-times-circle"></i> Not Match the Spec</li>
          <li class="null"><i class="fas fa-question-circle"></i> Not Implemented</li>
        </ul>

      </main>

      <footer>
        <p>Hosted by the <a href="https://ega-archive.org/">EGA</a></p>
      </footer>

    </body>
</html>
